@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: black;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-size: 16px;
    line-height: 1.7em;
	color: white;
}

main {
	width: 1048px;
	margin: 0 auto;
}

main header .ll_logo {
	background-image: url("http://lighthouselabs.ca/assets/lhl-logo@2x.png");
	background-size: 220px auto;
	width: 220px;
	height: 46px;
	float: left;
	margin: 10px 0;
	border: 0;
	text-decoration: none;
}

main header .cc_logo {
	display: inline-block;
	float: right;
	margin-right: 24px;
}

.brand-primary {
	color: #5AC5C5;
}

.brand-orange {
    color: #FFD200;
}

.header {
    display: inline-block;
    width: 100%;
    margin: 1.5em 0;
}

@media (max-width: 1070px) {
    .main-container {
        padding: 0 15px;
    }
}

.instructions {
    margin: 1.5em 0;
    margin-bottom: 3em;
}

.controls, .phaser-logo {
    display: inline-block;
    padding: 0 15px;
}

.controls {
    width: 60%;
}

.phaser-container {
    width: 10em;
    float: right;
    margin-right: 30px;
}

.phaser-label {
    font-weight: bold;
    font-style: italic;
}

.phaser-logo {
    margin-top: 0.8em;
    width: 8.5em;
}

.controls-label {
    display: inline-block;
    width: 15%;
    vertical-align: top;
    font-weight: bold;
    font-style: italic;
}

.controls-content {
    display: inline-block;
    width: 75%;
    padding-left: 15px;
}

.controls-icon {
    margin-right: 0.4em;
}

.controls-icon--space {
    margin-top: 0.25em;
}

.divider {
    border-top: 1px solid white;
    margin: 1.5em 15px;
    margin-right: 40px;
}
