body, html { margin: 0; padding: 0; background: #fff; color: #333; font-family: Arial; font-size: 14px; line-height: 17px; }
a { color: #6D38B1; border-bottom: 1px solid #6D38B1; text-decoration: none; }
a:hover { color: #B13838; border-bottom: 1px solid #B13838; }
h1 { line-height: 25px; font-size: 25px; text-align: center; }
h1 span { font-size: 20px; color: #555; }
h2 { line-height: 25px; font-size: 18px; padding: 0; margin: 20px 0 0 -20px; }
h1, h2 { color: #000; }
#container { margin: 25px auto; width: 600px;  background-size: 213px 59px; }

#header { width: 100%; position: relative; height: 100px; }
#header .logo { position: absolute; max-width: 250px; max-height: 80px; }
#header .logo1 { top: 0; left: 0; }
#header .logo2 { top: 0; right: 0; }

pre { background: rgba(0, 0, 0, 0.05); padding: 10px; color: #012647; font-size: 12px; line-height: 16px; margin: 10px; white-space: pre-wrap; cursor: text; }


.question { background: rgba(0,0,0,0.05); padding: 10px; margin: 5px 0; }


body {
  padding-bottom: 40px;
}

em {
	font-weight: 700;
	font-style: normal;
}

code { border-bottom: 2px solid #eee; }

.pound {
	font-size: .8em;
}


li ol li {
	list-style-type: lower-alpha;
}

.steps li {
    border-left: 3px solid #eee;
    padding: 0 10px;
    margin: 15px 0 0 0;
    cursor: pointer;
}

.steps li.done {
    background: #efefef;
    border-top: 1px solid #efefef;
}
img.screenshot {
    margin: 10px 0 30px 0;
    display: block;
    width: 100%;
    background: #eee;
}

@media print {
	li { page-break-inside:avoid; }
    .pagebreak { page-break-before: always; }
}
